/* 5       'Inspirational quote'           Soo much potential here */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(71, 96, 104);
}

.logo{
    display: none;
}

#output{
    font-size: 2em;
    width: 100%;
    position: relative;
    margin: auto;
    background: white;
}

.slidechanger{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1,2em;
    font-weight: bold;
}

.prev{
    left: 0;
    width: 75px;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}  

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 3em;
    border-radius: 10px;
    user-select: none;
    height: 150px;
    text-align: center;
}

.prev:hover, .next:hover{
    background: black;
}

figure {
    position: relative;
    height: 85vh;
    padding: 1em;
    width: 90%;
    margin: auto;
}

figure > figcaption {
	position: absolute;
	top: 1em;                      /* vertical alignment */
    left: 50%;
    top: 40%;
	transform: translateX(-50%);
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(138, 104, 104, 0.349);
    color: black;
    text-shadow: 1px 1px whitesmoke;
    padding: 10px;;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 10px;
}

figure > img {
	position: absolute;
	left: 50%;                     /* horizontal alignment */
    transform: translateX(-50%);   /* horizontal alignment (fine tuning) */
    max-height: 80vh;
    filter: blur(2px);
}


.theSlides{
    min-height: 90vh;
    padding-top: 10px;
}
