@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(71, 96, 104);
}

.wrapper{
    margin: auto;
    max-width: 900px;
    background: rgb(71, 96, 104);
    padding: 10px;
}

#category{
    width: 400px;
    height: 200px;
}

h2{
    font-weight: 700;
    font-size: 2em;
}

a{
    color: rgb(0, 42, 97);
    font-size: 1.5em;
    text-decoration: none;
}

a:hover{
    text-shadow: 1px 1px white;
}

form{
    width: 100%;
    margin: auto;
}

.formwrapper {
    margin: auto;
}

select, input {
    background: white;
    padding: 10px;
    border: 5px 5px 0px 5px solid;
    border-color: whitesmoke;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

option:hover{
    background-color: lightgrey;
}

#timeDisplay{
    display: none;
}

#cssPre{
    display: none;
}

.smallgaybutton{
    padding: 0.8em;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.alert {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: fixed;
    top: 0;
    background: white;
}

.hide {
    display: none;
}

.slidechanger{
    display: none;
}

#slideTimer{
    display: none;
}

.bigredbutton{
    background-color: red;
    border: 10px solid red;
    border-radius: 50%;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}

#logfileMonitor, #logfileServer{
    border: 2px dotted black;
    margin: 10px;
}

#logfileMonitor, #logfileServer{
    background: white;
    height: 20em;
    overflow-y: scroll;
    font-size: 0.8em;
}

textarea{
    width: 40em;
    height: 10em;
    resize: none;
}

#taginput{
    width: 30em;
}

#titelinput{
    width: 30em;
}

.slideimg{
    max-width: 50%;
    display: block;
}

fieldset{
    margin: 20px;
    border: 5px solid grey;
    border-radius: 10px;
}
