/*
 * randomslide base stylesheet
 *
 * color codes:
 *      #1e1e1e - dark grey
 *      #333333 - medium grey
 *      #007588 - indigo
 *      #68CDD3 - teal
 *      #912104 - burgundy
 *
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 100%;
}

#category {
    height: 250px;
}

body {
    margin: 0;
    padding: 0;
    background: url("../bg.jpg") no-repeat fixed center;
	background-size: cover;
	min-height: 100vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
	height: 100%;
	min-height: 100vh;
    padding: 40px;
    background-color: rgba(255, 255, 255, .8);
}

nav {
    display: none;
    position: fixed;
    width: 150px;
    background-color: rgba(255, 255, 255, .8);
    right: 20px;
    top: 100px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

a {
    color: #1e1e1e;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

a:hover {
    color: #912104;
    transition: .3s;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #007588;
    text-decoration: underline 4px black;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    color: #007588;
    text-decoration: underline 4px #912104;
    margin-left: 50px;
}

.mitm {
    margin: 5px;
    display: block;
    font-size: 1.2em;
    color: #1e1e1e;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    transition: .3s;
}

.mitm:hover {
    background-color: #007588;
    color: #fff;
    transition: .3s;
}

.mred:hover {
    background-color: #912104;
    transition: .3s;
}

.formwrapper {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.choice {
    grid-area: 1/1/2/3;
    text-align: center;
}

.category {
    grid-area: 2/1/3/2;
}

.timerornot {
    grid-area: 3/2/4/3;
}

.right {
    grid-area: 2/2/3/3;
}

#slideTimer {
    display: none;
    grid-area: 3/2/4/3;
}

.placeholder {
    grid-area: 3/1/4/2;
    min-height: 120px;
}

#specId {
    grid-area: 4/1/5/3;
    text-align: center;
}

.item {
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    background: #fff;
    border: 2px #1e1e1e solid;
    border-radius: 4px;
    width: 90%;
    transition: .3s;
}

.item:hover {
    background-color: #eee;
    transition: .3s;
}

#deckid {
    width: 20%;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
}

option:hover {
    background-color: lightgrey;
}

#timeDisplay {
    display: none;
}

#cssPre {
    display: none;
}

#username, #password, #email, #regusername, #regpassword {
    font-size: 1.2em;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 4px;
    width: 50%;
}

.genbutton {
    background-color: #1e1e1e;
    border: 0;
    color: #fff;
    padding: 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    grid-column: 1/3;
    cursor: pointer;
    width: 50%;
    margin-top: 2em;
}

.genbutton:hover {
    background-color: #912104;
}

.biggap {
    height: 50px;
}

.alert {
    width: 60%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 20%;
    background: white;
}

#regwrapper {
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}

.slidechanger {
    display: none;
}

.bigredbutton {
    display: block;
    margin: 0 auto;
    background-color: #912104;
    border: 0;
    border-radius: 8px;
    padding: 16px;
    font-size: 2em;
    cursor: pointer;
}

#logwrapper {
    margin: 10px, 30px;
}

#logfileMonitor, #logfileServer {
    display: block;
    border: 2px #1e1e1e solid;
    border-radius: 4px;
    padding: 8px;
    margin: 30px;
    background: #eee;
    height: 20em;
    overflow-y: scroll;
    font-size: 0.8em;
}

textarea {
    width: 40em;
    height: 10em;
    resize: none;
}

#taginput {
    width: 30em;
}

#titelinput {
    width: 30em;
}

fieldset {
    margin: 20px;
    border: 5px solid grey;
    border-radius: 10px;
}

#usericon {
    display: block;
    position: fixed;
    height: 60px;
    width: 60px;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .8);
    font-family: 'Orbitron', sans-serif;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 2.5em;
    transition: .3s;
    cursor: pointer;
}

#usericon:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: .3s;
}

#loginscr, #regscr {
    display: none;
    position: fixed;
    padding: 40px;
    z-index: 20;
    width: 300px;
    height: 220px;
    left: calc(50vw - 150px);
    top: calc(50vh - 110px);
    background: #eee;
    border-radius: 8px;
}

#tint {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

.cbtn {
    position: absolute;
    right: 7px;
    top: 7px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    transition: .3s;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.cbtn:hover {
    background: #912104;
    color: #fff;
    transition: .3s;
}

#countdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #1e1e1e;
    background-color: #eee;
    font-family: 'Orbitron', sans-serif;
    font-size: 15em;
    text-align: center;
    padding-top: 1.3em;
    z-index: 20;
}

#endscr {
    display: none;
    width: 400px;
    margin: 0 auto;
    font-size: 1.6em;
}
