@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: #1e1e1e;
}

/* master div holding all slides */
.rscontainer {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
}

/* put your general styles here */
.rss {
}

/* slide type 0 - Big title */
.rss0 {
}

.rss0tit {
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.rss0img {
    display: block;
    margin: 0 auto;
    width: 70vw;
    height: 70vh;
	background-size: cover;
}

/* slide type 1 - Full screen image */
.rss1 {
}

.rss1img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
}

/* slide type 2 - Big number */
.rss2 {
}

.rss2bignum {
    position: relative;
    font-size: 18em;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* slide type 3 - Bullet point list */
.rss3 {
}

.rss3ul {
    font-size: 3em;
    margin: 0 auto;
    margin-top: 4em;
    width: 50%;
}

.rss3li {
}

/* slide type 4 - Title, image & subtitle */
.rss4 {
}

/* -ls indicates landscape format image */
.rss4tit-ls {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
}

.rss4img-ls {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    width: 80%;
    background-size: cover;
    background-position: center center;
}

.rss4bt-ls {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
}

/* -bs indicates box-shaped (roughly square) image */
.rss4tit-bs {
}

.rss4img-bs {
}

.rss4bt-bs {
}

/* -pt indicates portrait image */
.rss4tit-pt {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 30%;
    transform: translateX(-50%);
    font-size: 2.5em;
    font-weight: bold;
}

.rss4img-pt {
    position: fixed;
    top: 10%;
    left: 40%;
    height: 80%;
    width: 50%;
    background-size: cover;
    background-position: center center;
}

.rss4bt-pt {
    position: fixed;
    top: 50%;
    left: 20%;
    width: 30%;
    transform: translateX(-50%);
    font-size: 2em;
}


/* slide type 5 - Inspirational quote */
.rss5img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    filter: blur(2px);
}

.rss5q {
    position: relative;
    padding: 1em;
    display: block;
    font-size: 4em;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    max-width: 70%;
    z-index: 10;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .7);
    border-radius: 8px;
}

/* slide type 6 - Picture with text */
.rss6 {
}

/* -ls indicates landscape format image */
.rss6img-ls {
}

.rss6txt-ls {
}

/* -bs indicates box-shaped (roughly square) image */
.rss6img-bs {
}

.rss6txt-bs {
}

/* -pt indicates portrait image */
.rss6img-pt {
    display: block;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 40%;
    height: 80%;
    background-size: cover;
    background-position: center center;
}

.rss6txt-pt {
    display: block;
    position: fixed;
    top: 20%;
    left: 60%;
    width: 30%;
    font-size: 4em;
}

/* slide type 7 - Graph */
.rss7 {
    padding: 2em;
}

.rss7con {
    position: fixed;
    height: 80%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
}

.rss7cvs {
}

